{% extends "base.html.twig" %}

{% block title %}Confirmation email{% endblock %}

{% block body %}
    <p>Thank you for registering for our awesome crypto stock exchange.</p>
    <p>We will send you shortly an email for confirmation of your registration.</p>
    <br>
    {#//TODO 31.10.2018#}
    {#<p>Please allow us further 24 hours for validation of your passport. Until then you can navigate the stock and debit crypto currencies to your stock account.</p>#}
{% endblock %}
