@import '~bootstrap';
@import 'header.scss';
@import 'home.scss';

body {
    background-color: lightgray;
    font-size: 23px;
}

#hallPreview {
    background-color: lightgreen;
  margin-bottom: 20px;

  .row {
    margin-left: 0;
    margin-right: 0;
  }
}
.seat {

  padding: 5px;
  margin: 5px;
  max-height: 40px;
  max-width: 40px;

  &.close{
    background-color: black;
  }

  &.open{
    background-color: #0daa26;
  }
  &.reserved {
    background-color: #aa3f0b;
  }
  &.reservation{
    background-color: #5eb5e0;
  }
}
