<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        {% include 'head/meta.html.twig' %}
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
            //header
            //content
                //sidebar
                {% include 'elements/sidebar.html.twig' %}
                //pageContent
                {% block body %}{% endblock %}
            //footer


        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
